<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<h2>User page</h2>

<p>ID:
    <span th:text="${user.id}"></span>
</p>

<p>Name:
    <span th:text="${user.name}"></span>
</p>

<p>Surname:
    <span th:text="${user.surname}"></span>
</p>

<p>Age:
    <span th:text="${user.age}"></span>
</p>

<p>Email:
    <span th:text="${user.email}"></span>
</p>

<p>Roles:
    <span th:text="${user.roles}"></span>
</p>

</body>
</html>